<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{/components/layout :: areas(~{::title},~{::body})}">

<head>
    <meta charset=" UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marious | Giới Thiệu</title>
</head>

<body class="bg-white min-h-screen">
    <section class="  text-gray-800 shadow">
        <div class="container max-w-6xl p-6 mx-auto space-y-6 sm:space-y-12">
            <a rel="noopener noreferrer" href="#"
                class="block max-w-sm gap-3 mx-auto rounded-lg sm:max-w-full group hover:no-underline focus:no-underline lg:grid lg:grid-cols-12 bg-neutral-50">
                <img src="./assets/images/blog/h1.jpg" alt=""
                    class="object-cover w-full h-64 rounded-lg sm:h-96 lg:col-span-7 bg-gray-500">
                <div class="p-6 space-y-2 lg:col-span-5">
                    <h3 class="text-2xl font-semibold sm:text-3xl group-hover:duration-300 group-hover:text-orange-300">
                        ĐÔI NÉT
                        VỀ NỘI THẤT Marious</h3>
                    <span class="text-xs text-gray-400">Ngày: 19-02-2021</span>
                    <p>Hiện nay, Nội Thất Marious chủ yếu tập trung thiết kế và sản xuất các mặt hàng Ghế sofa, sofa
                        gỗ,
                        sofa da, sofa phòng khách.

                        Ngoài ra, tại cửa hàng Marious, quý khách còn có thể tham khảo và lựa chọn các sản phẩm như
                        giường ngủ, tủ quần áo, bàn trang điểm, tủ bếp với chất lượng tốt.</p>
                </div>
            </a>
            <div class="grid justify-center grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3">
                <a rel="noopener noreferrer" href="#"
                    class="max-w-sm mx-auto group hover:no-underline focus:no-underline bg-neutral-50">
                    <img role="presentation" class="object-cover w-full rounded-lg h-44 bg-neutral-50"
                        src="./assets/images/blog/h2.jpg" alt="">
                    <div class="p-6 space-y-2">
                        <h3 class="text-2xl font-semibold group-hover:duration-300 group-hover:text-orange-300">LỊCH SỬ
                            HÌNH THÀNH VÀ PHÁT TRIỂN</h3>
                        <span class="text-xs text-gray-400">Ngày: 22-1-2021</span>
                        <p>Vào ngày 15/08/2015, ông Nguyễn Công Chinh thành lập thương hiệu Marious Sofa chuyên sản xuất
                            ghế
                            sofa. Nội thất Marious mang đến đa dạng sự lựa chọn về sofa như sofa phòng khách, sofa phòng
                            ngủ, sofa đơn, …</p>
                    </div>
                </a>
                <a rel="noopener noreferrer" href="#"
                    class="max-w-sm mx-auto group hover:no-underline focus:no-underline bg-neutral-50">
                    <img role="presentation" class="object-cover w-full rounded-lg h-44 bg-neutral-50"
                        src="./assets/images/blog/h3.jpg" alt="">
                    <div class="p-6 space-y-2">
                        <h3 class="text-2xl font-semibold group-hover:duration-300 group-hover:text-orange-300">TẦM NHÌN
                            VÀ SỨ MỆNH</h3>
                        <span class="text-xs text-gray-400">Ngày: 23-1-2021</span>
                        <p>Từ khi thành lập, Nội Thất Marious đã không ngừng nỗ lực để hoàn thiện chất lượng sản phẩm và
                            cả quy trình dịch vụ, mang lại cho khách hàng những trải nghiệm tuyệt vời nhất khi chọn mua
                            sắm tại Marious. Phương châm của chúng tôi là luôn cố gắng làm mới mỗi ngày, bắt nhịp xu
                            hướng
                            của nội thất thế giới bằng việc sáng tạo nên những sản phẩm thời trang, có tính thẩm mỹ cao
                            và phù hợp với gu nội thất của người Việt.

                        </p>
                    </div>
                </a>
                <a rel="noopener noreferrer" href="#"
                    class="max-w-sm mx-auto group hover:no-underline focus:no-underline bg-neutral-50">
                    <img role="presentation" class="object-cover w-full rounded-lg h-44 bg-neutral-50"
                        src="./assets/images/blog/h4.jpg" alt="">
                    <div class="p-6 space-y-2">
                        <h3 class="text-2xl font-semibold group-hover:duration-300 group-hover:text-orange-300">Thiết kế
                            sofa nhà anh Tâm, Gò Vấp </h3>
                        <span class="text-xs text-gray-400">Ngày: 24-1-2021</span>
                        <p>MAnh Tâm cùng gia đình đang sống cùng nhau ở Gò Vấp. Phòng khách là nơi tiếp đón khách, là
                            không gian mở để cả nhà sinh hoạt nên anh muốn không gian này thật thoải mái.

                            Vì vậy một bộ sofa chữ L màu ghi là món nội thất vô cùng phù hợp cho anh Tâm. Bộ ghế thiết
                            kế nhấn chỉ đơn giản nhưng độc đáo. Chất liệu da mềm sang trọng, kết hợp với lớp đệm không
                            lún sâu mang đến sự êm ái và thoải mái, dễ vệ sinh. .</p>
                    </div>
                </a>
                <a rel="noopener noreferrer" href="#"
                    class="max-w-sm mx-auto group hover:no-underline focus:no-underline bg-neutral-50">
                    <img role="presentation" class="object-cover w-full rounded-lg h-44 bg-neutral-50"
                        src="./assets/images/blog/h6.jpg" alt="">
                    <div class="p-6 space-y-2">
                        <h3 class="text-2xl font-semibold group-hover:duration-300 group-hover:text-orange-300">Thiết kế
                            sofa da màu xanh nhà anh Tân, Gò Vấp </h3>
                        <span class="text-xs text-gray-400">Ngày: 25-1-2021</span>
                        <p>Nội thất phù hợp với xu hướng này là một bộ sofa màu xanh mát mắt bốn chỗ cùng chiếc ghế đơn
                            và một đôn nhỏ, tiện di chuyển và thoải mái sử dụng. Chất liệu da sang trọng kết hợp với lớp
                            đệm không lún sâu tạo cảm giác êm và thoải mái khi ngồi. Tay ghế bo tròn là kiểu thiết kế
                            trẻ trung và rất tiện khi nằm hay gối đầu. Mặt ghế rộng thoải mái.</p>
                    </div>
                </a>
                <a rel="noopener noreferrer" href="#"
                    class="max-w-sm mx-auto group hover:no-underline focus:no-underline bg-neutral-50">
                    <img role="presentation" class="object-cover w-full rounded-lg h-44 bg-neutral-50"
                        src="./assets/images/blog/h7.jpg" alt="">
                    <div class="p-6 space-y-2">
                        <h3 class="text-2xl font-semibold group-hover:duration-300 group-hover:text-orange-300">Thiết kế
                            sofa da chữ L mau ghi đậm nhà anh Thắng, Đống Đa</h3>
                        <span class="text-xs text-gray-400">Ngày: 26-1-2021</span>
                        <p>Gia đình anh Thắng gồm 5 thành viên đang sống cùng nhau ở Quận Đống Đa, Hà Nội trong một căn
                            hộ chung cư 100m2. Vì gia đình có khá đông người nên anh Thắng đã lựa chọn việc dành phần
                            lớn không gian trong căn hộ cho phòng khách.</p>
                    </div>
                </a>
                <a rel="noopener noreferrer" href="#"
                    class="max-w-sm mx-auto group hover:no-underline focus:no-underline bg-neutral-50">
                    <img role="presentation" class="object-cover w-full rounded-lg h-44 bg-neutral-50"
                        src="./assets/images/blog/h5.jpg" alt="">
                    <div class="p-6 space-y-2">
                        <h3 class="text-2xl font-semibold group-hover:duration-300 group-hover:text-orange-300">Thiết kế
                            sofa da 2 chỗ màu đen nhà anh Khánh, Chương Mỹ</h3>
                        <span class="text-xs text-gray-400">Ngày: 27-1-2021</span>
                        <p>Anh Khánh đang sống cùng vợ tại căn hộ Chung cư Eco Green Tower với tổng diện tích sinh hoạt
                            là 75m2. Vì là căn hộ 2 phòng ngủ nên không gian phòng khách được nối liền với không gian
                            bếp để diện tích được mở rộng và tiện nghi hơn.

                            Là một người yêu thích phong cách hiện đại và tối giản, anh Khánh đã sử dụng bộ sofa màu đen
                            được bọc da cao cấp và bao gồm 2 ghế sofa.
                        </p>
                    </div>
                </a>
            </div>
            <div class="flex justify-center">
                <button type="button"
                    class="px-6 py-3 text-sm rounded-lg join-item border px-5 border-orange-300 duration-300 text-black   hover:text-white hover:duration-300 hover:bg-orange-300 text-gray-400">Tải
                    thêm bài viết...</button>
            </div>
        </div>
    </section>

    <!-- ====== Blog Section Start -->
    <section class="pt-20 lg:pt-[120px] pb-10 lg:pb-20">
        <div class="container">
            <div class="flex flex-wrap justify-center -mx-4">
                <div class="w-full px-4">
                    <div class="text-center mx-auto mb-[60px] lg:mb-20 max-w-[510px]">
                        <span class="font-semibold text-lg       text-orange-300 mb-2 block">
                            BST 30+ MẪU GHẾ SOFA GỖ
                        </span>
                        <h2 class="
                   font-bold
                   text-2xl
                   sm:text-3xl
                   md:text-[30px]
                   text-dark
                   mb-4
                   ">
                            ĐƠN GIẢN ĐẸP NHẤT 2023
                        </h2>
                        <p class="text-base text-body-color">
                            Sofa gỗ đơn giản đang là xu hướng hot và được nhiều người lựa chọn cho không gian phòng
                            khách. Với thiết kế tinh tế, những chiếc sofa gỗ này tạo nên không gian phòng khách gọn gàng
                            và sang trọng.
                        </p>
                    </div>
                </div>
            </div>
            <div class="flex flex-wrap -mx-4">
                <div class="w-full md:w-1/2 lg:w-1/3 px-4">
                    <div class="max-w-[370px] mx-auto mb-10">
                        <div class="rounded-lg overflow-hidden mb-8">
                            <img src="./assets/images/blog/h9.jpg" alt="image" class="w-full" />
                        </div>
                        <div>
                            <span class="
                            hover:text-white hover:duration-300 hover:bg-orange-300
                         border   border-orange-300
                      rounded-lg
                      inline-block
                      text-center
                      py-1
                      px-4
                      text-xs
                      leading-loose
                      font-semibold
                      text-black
                      mb-5
                      ">
                                Ngày: 23-12-2023
                            </span>
                            <h3>
                                <a href="javascript:void(0)" class="
                         font-semibold
                         text-xl
                         sm:text-2xl
                         lg:text-xl
                         xl:text-2xl
                         mb-4
                         inline-block
                         text-dark
                        hover:text-orange-300
                         ">
                                    Sofa văng gỗ đơn giản
                                </a>
                            </h3>
                            <p class="text-base text-body-color">
                                Thiết kế mẫu ghế sofa đơn giản hiện đại với 3 đệm bọc nỉ màu xanh rêu bắt mắt.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="w-full md:w-1/2 lg:w-1/3 px-4">
                    <div class="max-w-[370px] mx-auto mb-10">
                        <div class="rounded-lg overflow-hidden mb-8">
                            <img src="./assets/images/blog/h10.jpg" alt="image" class="w-full" />
                        </div>
                        <div>
                            <span class="
                            hover:text-white hover:duration-300 hover:bg-orange-300
                            border   border-orange-300
                         rounded-lg
                         inline-block
                         text-center
                         py-1
                         px-4
                         text-xs
                         leading-loose
                         font-semibold
                         text-black
                         mb-5
                      ">
                                Ngày: 15-03-2023
                            </span>
                            <h3>
                                <a href="javascript:void(0)" class="
                         font-semibold
                         text-xl
                         sm:text-2xl
                         lg:text-xl
                         xl:text-2xl
                         mb-4
                         inline-block
                         text-dark
                         hover:text-orange-300
                         ">
                                    Sofa gỗ góc chữ L đơn giản
                                </a>
                            </h3>
                            <p class="text-base text-body-color">
                                Sofa gỗ góc L hiện đang rất thịnh hành trên thị trường bởi nó có thể kê ở rất nhiều
                                không gian khác nhau. Bạn có thể kê ở phòng khách gia đình, phòng làm việc, phòng ngủ,
                                ban công, quán cafe...
                            </p>
                        </div>
                    </div>
                </div>
                <div class="w-full md:w-1/2 lg:w-1/3 px-4">
                    <div class="max-w-[370px] mx-auto mb-10">
                        <div class="rounded-lg overflow-hidden mb-8">
                            <img src="./assets/images/blog/h8.jpg" alt="image" class="w-full" />
                        </div>
                        <div>
                            <span class="
                     hover:text-white hover:duration-300 hover:bg-orange-300
                         border   border-orange-300
                      rounded-lg
                      inline-block
                      text-center
                      py-1
                      px-4
                      text-xs
                      leading-loose
                      font-semibold
                      text-black
                      mb-5
                      ">
                                Ngày : 05-07-2023
                            </span>
                            <h3>
                                <a href="javascript:void(0)" class="
                         font-semibold
                         text-xl
                         sm:text-2xl
                         lg:text-xl
                         xl:text-2xl
                         mb-4
                         inline-block
                         text-dark
                         hover:text-orange-300
                         ">
                                    Lý do nên chọn mua ghế sofa gỗ đơn giản
                                </a>
                            </h3>
                            <p class="text-base text-body-color">
                                Nếu gia đình bạn yêu thích các mẫu sofa gỗ nhưng lại e ngại vì các mẫu sofa thường có
                                kích thước lớn, kiểu dáng thì lại cổ xưa thì giờ đây các bạn không cần phải lo điều đó
                                nữa.

                                Để bắt kịp xu hướng mới mà lại đơn giản hóa của người tiêu dùng hiện nay, các nhà sản
                                xuất đã cập nhật các thiết kế mới nhất đáp ứng được nhu cầu của người tiêu dùng
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ====== Blog Section End -->


    <!-- start -->
    <section class=" text-gray-800">
        <div class="container flex flex-col justify-center px-4 py-8 mx-auto md:p-8">
            <h2 class="text-2xl font-semibold sm:text-4xl"> Lý do nên chọn mua ghế sofa gỗ đơn giản</h2>
            <p class="mt-4 mb-8 text-gray-400">Đơn giản nhưng không đơn điệu là tiêu chí hàng đầu của các mẫu ghế sofa
                gỗ đơn giản hiện đại nên các mẫu sofa gỗ không chỉ được lòng những vị khách lớn tuổi mà các vị khách trẻ
                cũng chọn lựa rất nhiều cho gia đình mình.</p>
            <div class="space-y-4">
                <details class="w-full border rounded-lg">
                    <summary class="px-4 py-6 focus:outline-none focus-visible:ri">Kiểu dáng hiện đại, dễ bài trí
                    </summary>
                    <p class="px-4 py-6 pt-0 ml-4 -mt-4 text-gray-400">Không giống như trước đây, các mẫu gỗ thường sẽ
                        có các đường cong uốn lượn và chạm trổ các hoa văn nổi bật thì giờ đây các mẫu ghế sofa gỗ đơn
                        giản hiện đại có thiết kế đơn giản hơn.</p>
                </details>
                <details class="w-full border rounded-lg">
                    <summary class="px-4 py-6 focus:outline-none focus-visible:ri">Sofa gỗ đơn giản có nhiều màu sắc
                    </summary>
                    <p class="px-4 py-6 pt-0 ml-4 -mt-4 text-gray-400">Nếu như trước đây nói đến các bộ ghế gỗ thì người
                        ta chỉ nghĩ đến các bộ ghế với màu nâu của bộ ghế gỗ óc chó hay màu vàng của bộ ghế gỗ sồi đơn
                        giản thì ngày nay với sự kết hợp với những tấm đệm và tựa lưng với nhiều màu sắc khác nhau tạo
                        nên những bộ sofa gỗ sồi hiện đại với nhiều màu sắc bắt mắt, độc đáo.


                    </p>
                </details>
                <details class="w-full border rounded-lg">
                    <summary class="px-4 py-6 focus:outline-none focus-visible:ri">Thiết kế đơn giản giúp giá thành luôn
                        rẻ</summary>
                    <p class="px-4 py-6 pt-0 ml-4 -mt-4 text-gray-400">Các mẫu ghế sofa gỗ kiểu dáng đơn giản hầu như
                        chỉ sử dụng những thanh gỗ nhỏ hoặc mỏng ghép thành bộ sofa hoàn chỉnh nên tiết kiệm được một
                        khoản chi phí rất lớn so với những mẫu ghế gỗ trước đây. </p>
                </details>
            </div>
        </div>
    </section>
    <!-- end -->
</body>

</html>