<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{/components/layout :: areas(~{::title},~{::body})}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marious | Tin Tức </title>
</head>

<body class="bg-white min-h-screen">
    <section class="px-5 py-10 text-gray-800">
        <div class="container grid grid-cols-12 mx-auto gap-y-6 md:gap-10">
            <div class="flex flex-col justify-between col-span-12 py-2 space-y-8 md:space-y-16 md:col-span-3">
                <div class="flex flex-col space-y-8 md:space-y-12">
                    <div class="flex flex-col space-y-2">
                        <h3 class="flex items-center space-x-2 text-gray-400">
                            <span class="flex-shrink-0 w-2 h-2 uppercase rounded-full  bg-orange-300"></span>
                            <span class="text-xs font-bold tracki uppercase">Độc quyền</span>
                        </h3>
                        <a rel="noopener noreferrer" href="#" class="font-serif hover:underline">Top 24 mẫu ghế sofa
                            dưới 30 triệu kiểu dáng hiện đại</a>
                        <p class="text-xs text-gray-400">47 phút trước bởi
                            <a rel="noopener noreferrer" href="#" class="hover:underline text-orange-300">Leroy
                                Jenkins</a>
                        </p>
                    </div>
                    <div class="flex flex-col space-y-2">
                        <h3 class="flex items-center space-x-2 text-gray-400">
                            <span class="flex-shrink-0 w-2 h-2 uppercase rounded-full bg-orange-300"></span>
                            <span class="text-xs font-bold tracki uppercase">Độc quyền</span>
                        </h3>
                        <a rel="noopener noreferrer" href="#" class="font-serif hover:underline">Top 10 địa chỉ mua ghế
                            sofa ở HCM uy tín, chất lượng 2023</a>
                        <p class="text-xs text-gray-400">2 giờ trước bởi
                            <a rel="noopener noreferrer" href="#" class="hover:underline text-orange-300">Leroy
                                Jenkins</a>
                        </p>
                    </div>
                    <div class="flex flex-col space-y-2">
                        <h3 class="flex items-center space-x-2 text-gray-400">
                            <span class="flex-shrink-0 w-2 h-2 uppercase rounded-full bg-orange-300"></span>
                            <span class="text-xs font-bold tracki uppercase">Độc quyền</span>
                        </h3>
                        <a rel="noopener noreferrer" href="#" class="font-serif hover:underline">Mẫu bộ bàn ăn thông
                            minh gấp gọn tiết kiệm diện tích giá rẻ.</a>
                        <p class="text-xs text-gray-400">4 giờ trước bởi
                            <a rel="noopener noreferrer" href="#" class="hover:underline orange-300">Leroy
                                Jenkins</a>
                        </p>
                    </div>
                </div>
                <div class="flex flex-col w-full space-y-2">
                    <div class="flex w-full h-1 bg-opacity-10 bg-orange-300">
                        <div class="w-1/2 h-full bg-orange-300"></div>
                    </div>
                    <a rel="noopener noreferrer" href="#" class="flex items-center justify-between w-full">
                        <span class="text-xs font-bold tracki uppercase">Xem thêm các sản phẩm độc quyền khác</span>
                        <svg viewBox="0 0 24 24" stroke-width="2.5" fill="none" stroke-linecap="round"
                            stroke-linejoin="round" class="w-4 stroke-current text-orange-300">
                            <line x1="5" y1="12" x2="19" y2="12"></line>
                            <polyline points="12 5 19 12 12 19"></polyline>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="relative flex col-span-12 bg-center bg-no-repeat bg-cover bg-gray-500 xl:col-span-6 lg:col-span-5 md:col-span-9 min-h-96"
                style="background-image: url('./assets/images/Banner/Banner3.jpg');">
                <span
                    class="absolute px-1 pb-2 text-xs font-bold uppercase border-b-2 left-6 top-6 border-orange-300 text-gray-100">Hà
                    Nội,
                    Việt Nam</span>
                <a
                    class="flex flex-col items-center justify-end p-6 text-center sm:p-8 group via-transparent flex-grow-1 bg-gradient-to-b from-gray-900 to-gray-900">
                    <span class="flex items-center mb-4 space-x-2 text-orange-300">
                        <span class="relative flex-shrink-0 w-2 h-2 rounded-full bg-orange-300">
                            <span
                                class="absolute flex-shrink-0 w-3 h-3 rounded-full -left-1 -top-1 animate-ping bg-orange-300"></span>
                        </span>
                        <span class="text-sm font-bold">Trực Tiếp</span>
                    </span>
                    <h1 rel="noopener noreferrer" href="#"
                        class="font-serif text-2xl font-semibold group-hover:underline text-white">Top 5 địa chỉ mua ghế
                        sofa ở quận Thanh Xuân uy tín và chất lượng 2023</h1>
                </a>
            </div>
            <div class="hidden py-2 xl:col-span-3 lg:col-span-4 md:hidden lg:block">
                <div class="mb-8 space-x-5 border-b-2 border-opacity-10 border-orange-300">
                    <button type="button" class="pb-5 text-xs font-bold uppercase border-b-2 border-orange-300">Muộn
                        nhất</button>
                    <button type="button"
                        class="pb-5 text-xs font-bold uppercase border-b-2 border-transparent text-gray-400">Phổ
                        biến</button>
                </div>
                <div class="flex flex-col divide-y :divide-gray-700">
                    <div class="flex px-1 py-4">
                        <img alt="" class="flex-shrink-0 object-cover w-20 h-20 mr-4 bg-gray-500"
                            src="./assets/images/blog/t1.jpg">
                        <div class="flex flex-col flex-grow">
                            <a rel="noopener noreferrer" href="#" class="font-serif hover:underline">15+ Mẫu bộ bàn ghế
                                gỗ phòng khách giá 5 triệu rẻ bền đẹp.</a>
                            <p class="mt-auto text-xs text-gray-400">5 phút trước
                                <a rel="noopener noreferrer" href="#"
                                    class="block text-blue-400 lg:ml-2 lg:inline hover:underline">Tin tức</a>
                            </p>
                        </div>
                    </div>
                    <div class="flex px-1 py-4">
                        <img alt="" class="flex-shrink-0 object-cover w-20 h-20 mr-4 bg-gray-500"
                            src="./assets/images/blog/t2.jpg">
                        <div class="flex flex-col flex-grow">
                            <a rel="noopener noreferrer" href="#" class="font-serif hover:underline">Kích thước sofa gỗ
                                tiêu chuẩn, chính xác và phổ biến hiện nay
                                .</a>
                            <p class="mt-auto text-xs text-gray-400">14 phút trước
                                <a rel="noopener noreferrer" href="#"
                                    class="block text-blue-400 lg:ml-2 lg:inline hover:underline">Tin tức</a>
                            </p>
                        </div>
                    </div>
                    <div class="flex px-1 py-4">
                        <img alt="" class="flex-shrink-0 object-cover w-20 h-20 mr-4 bg-gray-500"
                            src="./assets/images/blog/t3.jpg">
                        <div class="flex flex-col flex-grow">
                            <a rel="noopener noreferrer" href="#" class="font-serif hover:underline">Kích thước ghế sofa
                                chữ L tiêu chuẩn, phổ biến cho phòng khách.</a>
                            <p class="mt-auto text-xs text-gray-400">22 phút trước
                                <a rel="noopener noreferrer" href="#"
                                    class="block text-blue-400 lg:ml-2 lg:inline hover:underline">Tin tức</a>
                            </p>
                        </div>
                    </div>
                    <div class="flex px-1 py-4">
                        <img alt="" class="flex-shrink-0 object-cover w-20 h-20 mr-4 bg-gray-500"
                            src="./assets/images/blog/t4.jpg">
                        <div class="flex flex-col flex-grow">
                            <a rel="noopener noreferrer" href="#" class="font-serif hover:underline">Mẫu bộ bàn ăn thông
                                minh gấp gọn tiết kiệm diện tích giá rẻ
                                .</a>
                            <p class="mt-auto text-xs text-gray-400">37 phút trước
                                <a rel="noopener noreferrer" href="#"
                                    class="block text-blue-400 lg:ml-2 lg:inline hover:underline">Tin tức</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End -->
    <!-- Start -->
    <section class="p-4 lg:p-8 my-8 text-gray-800">
        <div class="container mx-auto space-y-12">
            <div class="flex flex-col overflow-hidden rounded-lg shadow-sm lg:flex-row">
                <img src="./assets/images/Sofa/s1.jpg" alt="" class="h-80 bg-gray-500 rounded-lg aspect-video">
                <div class="flex flex-col justify-center flex-1 p-6 ">
                    <span class="text-xs uppercase text-gray-400">Xem miễn phí</span>
                    <h3 class="text-3xl font-bold">Những Lưu Ý Quan Trọng Khi Mua Nội Thất Online</h3>
                    <p class="my-6 text-gray-400">Nhiều người lựa chọn mua nội thất online nhưng lại lo ngại về chất
                        lượng sản phẩm. Tuy nhiên, để không mua phải hàng kém chất lượng hoặc bị lừa đảo, người mua nên
                        tuân thủ những lưu ý sau để sở hữu được những món nội thất ưng ý..</p>
                    <button type="button"
                        class="self-start px-6 py-3 text-sm rounded-lg join-item border px-5 border-orange-300 duration-300 text-black   hover:text-white hover:duration-300 hover:bg-orange-300 text-gray-400">Xem
                        thêm</button>
                </div>
            </div>
            <div class="flex flex-col overflow-hidden rounded-lg shadow-sm lg:flex-row-reverse">
                <img src="./assets/images/Sofa/s2.jpg" alt="" class="h-80 bg-gray-500 rounded-lg aspect-video">
                <div class="flex flex-col justify-center flex-1 p-6 ">
                    <span class="text-xs uppercase text-gray-400">Xem miễn phí</span>
                    <h3 class="text-3xl font-bold">Những Ưu Điểm Và Hạn Chế Khi Lựa Chọn Mua Nội Thất Online</h3>
                    <p class="my-6 text-gray-400">Cùng với xu hướng mua sắm online ngày càng phát triển, rất nhiều người
                        lựa chọn mua nội thất online để tiết kiệm thời gian, chi phí. Tuy nhiên, các sản phẩm nội thất
                        có giá trị lớn, ảnh hưởng rất nhiều đến tổng thể không gian sống vì vậy....</p>
                    <button type="button"
                        class="self-start px-6 py-3 text-sm rounded-lg join-item border px-5 border-orange-300 duration-300 text-black   hover:text-white hover:duration-300 hover:bg-orange-300 text-gray-400">Xem
                        thêm</button>
                </div>
            </div>
            <div class="flex flex-col overflow-hidden rounded-lg shadow-sm lg:flex-row">
                <img src="./assets/images/Sofa/s3.jpg" alt="" class="h-80 bg-gray-500 rounded-lg aspect-video">
                <div class="flex flex-col justify-center flex-1 p-6 ">
                    <span class="text-xs uppercase text-gray-400">Xem miễn phí</span>
                    <h3 class="text-3xl font-bold">Có Nên Mua Ghế Sofa Da Bò Thật Mặt Tiếp Xúc Hay Không?</h3>
                    <p class="my-6 text-gray-400">Mua ghế sofa là một quyết định quan trọng đối với bất kỳ không gian
                        sống nào. Và khi chúng ta đối mặt với lựa chọn giữa ghế sofa da thật mặt tếp xúc và các lựa chọn
                        khác, nhiều người dùng thường đặt ra câu hỏi: Có nên mua...</p>
                    <button type="button"
                        class="self-start px-6 py-3 text-sm rounded-lg join-item border px-5 border-orange-300 duration-300 text-black   hover:text-white hover:duration-300 hover:bg-orange-300 text-gray-400">Xem
                        thêm</button>
                </div>
            </div>
        </div>
    </section>
    <!-- End -->
    <!-- Start -->
    <section class="py-6 text-gray-50">
        <h2 class="
        font-bold
        text-3xl
        sm:text-4xl
        md:text-[40px]
        text-dark
        text-center
        mb-4
        ">
            Bài Viết Mới
        </h2>
        <div class="container grid grid-cols-2 gap-4 p-4 mx-auto md:grid-cols-4 rounded-lg">
            <img src="./assets/images/Sofa/s4.jpg" alt=""
                class="w-full h-full col-span-2 row-span-2 rounded-lg shadow-sm min-h-96 md:col-start-3 md:row-start-1 bg-gray-500 aspect-square">
            <img alt="" class="w-full h-full rounded-lgd shadow-sm min-h-48 bg-gray-500 aspect-square"
                src="./assets/images/Sofa/s5.jpg">
            <img alt="" class="w-full h-full rounded-lg shadow-sm min-h-48 bg-gray-500 aspect-square"
                src="./assets/images/Sofa/s6.jpg">
            <img alt="" class="w-full h-full rounded-lg shadow-sm min-h-48 bg-gray-500 aspect-square"
                src="./assets/images/Sofa/s6.jpg">
            <img alt="" class="w-full h-full rounded-lg shadow-sm min-h-48 bg-gray-500 aspect-square"
                src="./assets/images/Sofa/s7.jpg">
            <img alt="" class="w-full h-full rounded-lg shadow-sm min-h-48 bg-gray-500 aspect-square"
                src="./assets/images/Sofa/s8.jpg">
            <img alt="" class="w-full h-full rounded-lg shadow-sm min-h-48 bg-gray-500 aspect-square"
                src="./assets/images/Sofa/s9.jpg">
            <img alt="" class="w-full h-full rounded-lg shadow-sm min-h-48 bg-gray-500 aspect-square"
                src="./assets/images/Sofa/s10.jpg">
            <img alt="" class="w-full h-full rounded-lg shadow-sm min-h-48 bg-gray-500 aspect-square"
                src="./assets/images/Sofa/s11.jpg">
            <img src="./assets/images/Sofa/s12.jpg" alt=""
                class="w-full h-full col-span-2 row-span-2 rounded-lg shadow-sm min-h-96 md:col-start-1 md:row-start-3 bg-gray-500 aspect-square">
        </div>
    </section>
    <!-- end -->
    <!-- start -->
    <section class="py-6 sm:py-12  text-gray-800">
        <div class="container p-6 mx-auto space-y-8">
            <div class="space-y-2 text-center">
                <h2 class="text-3xl font-bold">Tin tức thêm....</h2>
                <p class="font-serif text-sm text-gray-400">Có thể nó sẽ giúp ích thêm cho bạn về một ít kiến thức về
                    nội thât .
                </p>
            </div>
            <div class="grid grid-cols-1 gap-x-4 gap-y-8 md:grid-cols-2 lg:grid-cols-4">
                <article class="flex flex-col shadow-lg ">
                    <a rel="noopener noreferrer" href="#" aria-label="Te nulla oportere reprimique his dolorum">
                        <img alt="" class="object-cover rounded-lg w-full h-52 bg-gray-500"
                            src="./assets/images/Sofa/Sofa1.jpg">
                    </a>
                    <div class="flex flex-col flex-1 p-6">
                        <a rel="noopener noreferrer" href="#" aria-label="Te nulla oportere reprimique his dolorum"></a>
                        <a rel="noopener noreferrer" href="#"
                            class="text-xs tracki uppercase duration-300 hover:duration-300 hover:text-orange-300 hover:underline hover:underline-offset-2">Tin
                            Tức</a>
                        <h3 class="flex-1 py-2 text-lg font-semibold leadi">Đơn Vị Thi Công Nội Thất Trọn Gói Giá Rẻ Và
                            Chất Lượng
                        </h3>
                        <div class="flex flex-wrap justify-between pt-3 space-x-2 text-xs text-gray-400">
                            <span>Ngày: 01-01-2021</span>
                            <span>2.1K lượt xem</span>
                        </div>
                    </div>
                </article>
                <article class="flex flex-col shadow-lg">
                    <a rel="noopener noreferrer" href="#" aria-label="Te nulla oportere reprimique his dolorum">
                        <img alt="" class="object-cover rounded-lg w-full h-52 bg-gray-500"
                            src="./assets/images/Sofa/sofa2.jpg">
                    </a>
                    <div class="flex flex-col flex-1 p-6">
                        <a rel="noopener noreferrer" href="#" aria-label="Te nulla oportere reprimique his dolorum"></a>
                        <a rel="noopener noreferrer" href="#"
                            class="text-xs tracki uppercase duration-300 hover:duration-300 hover:text-orange-300 hover:underline hover:underline-offset-2">Tin
                            Tức</a>
                        <h3 class="flex-1 py-2 text-lg font-semibold leadi">Mẫu Thiết Kế Căn Hộ Ấm Áp Kiểu Nhật Của Cô
                            Nàng
                        </h3>
                        <div class="flex flex-wrap justify-between pt-3 space-x-2 text-xs text-gray-400">
                            <span>Ngày 02-6-2021 </span>
                            <span>2.2K lượt xem</span>
                        </div>
                    </div>
                </article>
                <article class="flex flex-col shadow-lg">
                    <a rel="noopener noreferrer" href="#" aria-label="Te nulla oportere reprimique his dolorum">
                        <img alt="" class="object-cover rounded-lg w-full h-52 bg-gray-500"
                            src="./assets/images/Sofa/sofa3.jpg">
                    </a>
                    <div class="flex flex-col flex-1 p-6">
                        <a rel="noopener noreferrer" href="#" aria-label="Te nulla oportere reprimique his dolorum"></a>
                        <a rel="noopener noreferrer" href="#"
                            class="text-xs tracki uppercase duration-300 hover:duration-300 hover:text-orange-300 hover:underline hover:underline-offset-2">Tin
                            Tức</a>
                        <h3 class="flex-1 py-2 text-lg font-semibold leadi">Trọn bộ nội thất và tủ bếp tại Dự án biệt
                            thự Trần Anh Riverside
                        </h3>
                        <div class="flex flex-wrap justify-between pt-3 space-x-2 text-xs text-gray-400">
                            <span>Ngày: 03-7-2021</span>
                            <span>2.3K Lượt Xem</span>
                        </div>
                    </div>
                </article>
                <article class="flex flex-col shadow-lg">
                    <a rel="noopener noreferrer" href="#" aria-label="Te nulla oportere reprimique his dolorum">
                        <img alt="" class="object-cover rounded-lg w-full h-52 bg-gray-500"
                            src="./assets/images/Sofa/sofa5.jpg">
                    </a>
                    <div class="flex flex-col flex-1 p-6">
                        <a rel="noopener noreferrer" href="#" aria-label="Te nulla oportere reprimique his dolorum"></a>
                        <a rel="noopener noreferrer" href="#"
                            class="text-xs tracki uppercase duration-300 hover:duration-300 hover:text-orange-300 hover:underline hover:underline-offset-2">Tin
                            tức</a>
                        <h3 class="flex-1 py-2 text-lg font-semibold leadi">Thương hiệu nội thất an toàn sức khoẻ đạt
                            chuẩn quốc tế
                        </h3>
                        <div class="flex flex-wrap justify-between pt-3 space-x-2 text-xs text-gray-400">
                            <span>Ngày: 04-6-2021</span>
                            <span>2.4K lượt xem</span>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </section>
</body>

</html>