<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{/components/layout :: areas(~{::title},~{::body})}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marious | Liên Hệ</title>
</head>

<body class="bg-white min-h-screen">
    <!-- start -->
    <section class=" text-gray-800">
        <div class="container max-w-xl p-6 py-12 mx-auto space-y-24 lg:px-8 lg:max-w-7xl">
            <div>
                <h2 class="text-3xl font-bold tracki text-center sm:text-5xl text-gray-800">Chi Tiết Thêm</h2>
                <!-- <p class="max-w-3xl mx-auto mt-4 text-xl text-center text-gray-400">Một chiếc sofa thoải mái không chỉ
                    là nơi nghỉ ngơi hoàn hảo mà còn là nơi tương tác, chia sẻ và tận hưởng thời gian chất lượng.</p> -->
            </div>
            <div class="grid lg:gap-8 lg:grid-cols-2 lg:items-center">
                <div>
                    <h3 class="text-2xl font-bold tracki sm:text-3xl text-gray-600">Độ dày của đệm ghế sofa ảnh hưởng
                        thế nào đến người sử dụng</h3>
                    <p class="mt-3 text-lg text-gray-400">ộ dày của đệm ghế sofa đóng vai trò quan trọng trong việc tạo
                        ra trải nghiệm thoải mái và hỗ trợ cho người sử dụng. Dưới đây là một số ảnh hưởng chính mà độ
                        dày của đệm ghế sofa có thể mang lại:.</p>
                    <div class="mt-12 space-y-12">
                        <div class="flex">
                            <div class="flex-shrink-0">
                                <div
                                    class="flex items-center justify-center w-12 h-12 rounded-md bg-orange-300 text-gray-900">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                        stroke="currentColor" class="w-7 h-7">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                            d="M5 13l4 4L19 7"></path>
                                    </svg>
                                </div>
                            </div>
                            <div class="ml-4">
                                <h4 class="text-lg font-medium leadi text-gray-600">Cảm giác thoải mái khi ngồi</h4>
                                <p class="mt-2 text-gray-400">Độ dày của đệm ảnh hưởng đến cảm giác thoải mái khi ngồi.
                                    Đệm mỏng có thể làm cho người sử dụng cảm thấy chất liệu nền, trong khi đệm dày hơn
                                    có thể cung cấp sự mềm mại và êm ái.</p>
                            </div>
                        </div>
                        <div class="flex">
                            <div class="flex-shrink-0">
                                <div
                                    class="flex items-center justify-center w-12 h-12 rounded-md bg-orange-300 text-gray-900">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                        stroke="currentColor" class="w-7 h-7">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                            d="M5 13l4 4L19 7"></path>
                                    </svg>
                                </div>
                            </div>
                            <div class="ml-4">
                                <h4 class="text-lg font-medium leadi text-gray-600">Hỗ trợ đúng vị trí</h4>
                                <p class="mt-2 text-gray-400">Đệm dày có khả năng cung cấp hỗ trợ tốt hơn cho cơ thể,
                                    đặc biệt là vùng lưng và cột sống. Điều này giúp người sử dụng duy trì vị trí ngồi
                                    đúng, giảm áp lực và căng thẳng trên cơ bắp.</p>
                            </div>
                        </div>
                        <div class="flex">
                            <div class="flex-shrink-0">
                                <div
                                    class="flex items-center justify-center w-12 h-12 rounded-md bg-orange-300 text-gray-900">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                        stroke="currentColor" class="w-7 h-7">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                            d="M5 13l4 4L19 7"></path>
                                    </svg>
                                </div>
                            </div>
                            <div class="ml-4">
                                <h4 class="text-lg font-medium leadi text-gray-600">Ảnh hưởng đến thiết kế
                                </h4>
                                <p class="mt-2 text-gray-400">Độ dày cũng có thể tác động đến thiết kế tổng thể của ghế
                                    sofa. Những chiếc sofa với đệm mỏng thường có vẻ nhẹ nhàng hơn và phù hợp với không
                                    gian nhỏ, trong khi đệm dày hơn thường mang lại vẻ sang trọng và nổi bật..</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div aria-hidden="true" class="mt-10 lg:mt-0">
                    <img src="./assets/images/Banner/Banner1.jpg" alt=""
                        class="mx-auto rounded-lg shadow-lg bg-gray-500">
                </div>
            </div>
            <div>
                <div class="grid lg:gap-8 lg:grid-cols-2 lg:items-center">
                    <div class="lg:col-start-2">
                        <h3 class="text-2xl font-bold tracki sm:text-3xl text-gray-600">Đệm ghế sofa dày bao nhiêu là
                            tốt nhất?</h3>
                        <p class="mt-3 text-lg text-gray-400">Không có một "độ dày tốt nhất" áp dụng cho mọi người, vì
                            sự chọn lựa này phụ thuộc vào nhiều yếu tố cá nhân và sở thích. Tuy nhiên, dưới đây là một
                            số hướng dẫn giúp bạn quyết định độ dày phù hợp cho đệm sofa:</p>
                        <div class="mt-12 space-y-12">
                            <div class="flex">
                                <div class="flex-shrink-0">
                                    <div
                                        class="flex items-center justify-center w-12 h-12 rounded-md bg-orange-300 text-gray-900">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                            stroke="currentColor" class="w-7 h-7">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                d="M5 13l4 4L19 7"></path>
                                        </svg>
                                    </div>
                                </div>
                                <div class="ml-4">
                                    <h4 class="text-lg font-medium leadi text-gray-600">1-2 Inch (2.5-5 cm):
                                    </h4>
                                    <p class="mt-2 text-gray-400">Đệm mỏng như vậy thường được chọn cho những người muốn
                                        một trải nghiệm ngồi cứng và thoải mái, hoặc trong trường hợp không gian hạn
                                        chế.</p>
                                </div>
                            </div>
                            <div class="flex">
                                <div class="flex-shrink-0">
                                    <div
                                        class="flex items-center justify-center w-12 h-12 rounded-md bg-orange-300 text-gray-900">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                            stroke="currentColor" class="w-7 h-7">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                d="M5 13l4 4L19 7"></path>
                                        </svg>
                                    </div>
                                </div>
                                <div class="ml-4">
                                    <h4 class="text-lg font-medium leadi text-gray-600">3-4 Inch (7.5-10 cm):</h4>
                                    <p class="mt-2 text-gray-400">Là sự kết hợp đặc biệt phổ biến, độ dày này cung cấp
                                        sự thoải mái đủ cho hầu hết mọi người mà không làm cho sofa trở nên quá mềm mại
                                        hoặc quá cứng.
                                    </p>
                                </div>
                            </div>
                            <div class="flex">
                                <div class="flex-shrink-0">
                                    <div
                                        class="flex items-center justify-center w-12 h-12 rounded-md bg-orange-300 text-gray-900">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                            stroke="currentColor" class="w-7 h-7">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                d="M5 13l4 4L19 7"></path>
                                        </svg>
                                    </div>
                                </div>
                                <div class="ml-4">
                                    <h4 class="text-lg font-medium leadi text-gray-600">5 Inch (12.5 cm) trở lên:</h4>
                                    <p class="mt-2 text-gray-400">Đối với những người ưa thích sự mềm mại và thoải mái
                                        đặc biệt, đệm dày từ 5 inch trở lên có thể là sự lựa chọn phù hợp.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-10 lg:mt-0 lg:col-start-1 lg:row-start-1">
                        <img src="./assets/images/Banner/Banner2.jpg" alt=""
                            class="mx-auto rounded-lg shadow-lg bg-gray-500">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end -->

    <!-- start -->
    <section class="py-6  text-gray-800">
        <div class="container flex flex-col items-center justify-center p-4 mx-auto space-y-8 sm:p-10">
            <h1 class="text-4xl font-bold leadi text-center sm:text-5xl">ĐỘI NGŨ CỦA CHÚNG TÔI</h1>
            <!-- <p class="max-w-2xl text-center text-gray-400">At a assumenda quas cum earum ut itaque commodi saepe
                rem aspernatur quam natus quis nihil quod, hic explicabo doloribus magnam neque, exercitationem eius
                sunt!</p> -->
            <div class="flex flex-row flex-wrap-reverse justify-center">
                <div class="flex flex-col justify-center m-8 text-center">
                    <img alt=""
                        class="self-center flex-shrink-0 w-24 h-24 mb-4 bg-center bg-cover rounded-full bg-gray-500"
                        src="https://source.unsplash.com/100x100/?portrait?0">
                    <p class="text-xl font-semibold leadi">Trần Công Chinh</p>
                    <p class="text-gray-400">CEO</p>
                </div>
                <div class="flex flex-col justify-center m-8 text-center">
                    <img alt=""
                        class="self-center flex-shrink-0 w-24 h-24 mb-4 bg-center bg-cover rounded-full bg-gray-500"
                        src="https://source.unsplash.com/100x100/?portrait?1">
                    <p class="text-xl font-semibold leadi">Lê Thảo My</p>
                    <p class="text-gray-400">Chuyên Viên Thiết Kế</p>
                </div>
                <div class="flex flex-col justify-center m-8 text-center">
                    <img alt=""
                        class="self-center flex-shrink-0 w-24 h-24 mb-4 bg-center bg-cover rounded-full bg-gray-500"
                        src="https://source.unsplash.com/100x100/?portrait?2">
                    <p class="text-xl font-semibold leadi">Huỳnh Minh Thư</p>
                    <p class="text-gray-400">Quản Lý</p>
                </div>
                <div class="flex flex-col justify-center m-8 text-center">
                    <img alt=""
                        class="self-center flex-shrink-0 w-24 h-24 mb-4 bg-center bg-cover rounded-full bg-gray-500"
                        src="https://source.unsplash.com/100x100/?portrait?3">
                    <p class="text-xl font-semibold leadi">Huỳnh Tấn Phát</p>
                    <p class="text-gray-400">Quản Lý Kho</p>
                </div>
                <div class="flex flex-col justify-center m-8 text-center">
                    <img alt=""
                        class="self-center flex-shrink-0 w-24 h-24 mb-4 bg-center bg-cover rounded-full bg-gray-500"
                        src="https://source.unsplash.com/100x100/?portrait?4">
                    <p class="text-xl font-semibold leadi">Lê Văn Bá</p>
                    <p class="text-gray-400">Chuyên Viên Thi Công</p>
                </div>
                <div class="flex flex-col justify-center m-8 text-center">
                    <img alt=""
                        class="self-center flex-shrink-0 w-24 h-24 mb-4 bg-center bg-cover rounded-full bg-gray-500"
                        src="https://source.unsplash.com/100x100/?portrait?5">
                    <p class="text-xl font-semibold leadi">Võ Văn Đạo</p>
                    <p class="text-gray-400">Chiên Viên Thi Công</p>
                </div>
            </div>
        </div>
    </section>
    <!-- end -->
    <!-- start -->
    <div
        class="grid max-w-screen-xl grid-cols-1 gap-8 px-8 py-16 mx-auto rounded-lg md:grid-cols-2 md:px-12 lg:px-16 xl:px-32  text-gray-800">
        <div class="flex flex-col justify-between">
            <div class="space-y-2">
                <h2 class="text-4xl font-bold leadi lg:text-5xl">Liên Hệ Với Chúng Tôi</h2>
                <div class="text-gray-400">Chúng tôi sẽ giải đáp mọi thắc mắc của bạn.</div>
            </div>
            <img src="/assets/images/logos/favicon.png" alt="" class="p-6 h-52 md:h-64">
        </div>
        <form th:action="@{/send-mail}" method="post" novalidate="" class="space-y-6">
            <div>
                <label for="fullname" class="text-sm">Họ Và Tên</label>
                <input name="fullName" id="name" type="text" placeholder=""
                    class=" p-3 rounded-lg bg-transparent border text-black border-orange-300  w-full outline-none ">
            </div>
            <div>
                <label for="fromEmail" class="text-sm">Email</label>
                <input name="fromEmail" id="email" type="email"
                    class=" p-3 rounded-lg bg-transparent border text-black border-orange-300  w-full outline-none ">
            </div>
            <div>
                <label for="message" class="text-sm">Ghi Chú</label>
                <input name="message" id="message" rows="3"
                    class=" p-3 rounded-lg bg-transparent border text-black border-orange-300  w-full outline-none "></input>
            </div>
            <button type="submit"
                class="w-full p-3 text-sm font-bold tracki uppercase rounded bg-orange-300 text-gray-900">Gửi
                đi</button>
        </form>
    </div>
    <!-- end -->

</body>

</html>