<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Furniture E-Commerce</title>
	<link rel="shortcut icon" type="image/png" href="../assets/images/logos/Logo1.png" />
	<link rel="stylesheet" href="/assets/css/styles.min.css" />
	<!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
	</script>  -->

	<style>
		.contact-form .form-field {
			position: relative;
			margin: 32px 0;
		}

		.contact-form .input-text {
			display: block;
			width: 100%;
			height: 36px;
			border-width: 0 0 2px 0;
			border-color: #5543ca;
			font-size: 18px;
			line-height: 26px;
			font-weight: 400;
		}

		.contact-form .input-text:focus {
			outline: none;
		}

		.contact-form .input-text:focus+.label,
		.contact-form .input-text.not-empty+.label {
			-webkit-transform: translateY(-12px);
			transform: translateY(-12px);

		}



		.contact-form .label {
			position: absolute;
			left: 20px;
			bottom: 35px;
			font-size: 18px;
			line-height: 26px;
			font-weight: 400;
			color: #5543ca;
			cursor: text;
			transition: -webkit-transform .2s ease-in-out;
			transition: transform .2s ease-in-out;
			transition: transform .2s ease-in-out,
				-webkit-transform .2s ease-in-out;
		}

		.contact-form .submit-btn {
			display: inline-block;
			background-color: #000;
			background-image: linear-gradient(125deg, #a72879, #064497);
			color: #fff;
			text-transform: uppercase;
			letter-spacing: 2px;
			font-size: 16px;
			padding: 8px 16px;
			border: none;
			width: 200px;
			cursor: pointer;
		}

		/* -------- */
		body {
			overflow-x: hidden;
			height: 100%;
		}

		.card0 {
			width: 94%;
		}

		.card1 {
			background-image: linear-gradient(#2196F3, #81D4FA);
			padding: 30px 20px 30px 50px;
		}

		.image-contact {
			width: 300px;
			height: 300px;
		}

		.large-font {
			font-size: 70px;
			font-family: Arial;
		}

		.fa-sun-o {
			font-size: 22px;
		}

		.card2 {
			background-color: #fff;
			padding: 0px 0px 40px 40px;
		}



		::placeholder {
			color: #B0BEC5 !important;
			opacity: 1;
		}

		:-ms-input-placeholder {
			color: #B0BEC5 !important;
		}

		::-ms-input-placeholder {
			color: #B0BEC5 !important;
		}


		.light-text {
			color: #B0BEC5;
		}

		.suggestion:hover {
			color: #fff;
			cursor: pointer;
		}

		.line {
			height: 1px;
			background-color: #B0BEC5;
		}

		@media screen and (max-width: 500px) {
			.card1 {
				padding-left: 26px;
			}
		}
	</style>

</head>

<body>

	<!--  Body Wrapper -->
	<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
		data-sidebar-position="fixed" data-header-position="fixed">
		<!-- Sidebar Start -->
		<aside class="left-sidebar">
			<!-- Sidebar scroll-->
			<div>

				<!-- Sidebar navigation-->
				<nav class="sidebar-nav scroll-sidebar" data-simplebar="">
					<ul id="sidebarnav">
						<li class="nav-small-cap"><i class="ti ti-dots nav-small-cap-icon fs-4"></i> <span
								class="hide-menu">Home</span></li>
						<li class="sidebar-item"><a class="sidebar-link" th:href="@{/}" aria-expanded="false"> <span> <i
										class="ti ti-layout-dashboard"></i>
								</span> <span class="hide-menu">Trang chủ</span>
							</a></li>
						<li class="nav-small-cap"><i class="ti ti-dots nav-small-cap-icon fs-4"></i> <span
								class="hide-menu">Quản Lí </span></li>
						<li class="sidebar-item "><a class="sidebar-link" th:href="@{/admin/products}"
								aria-expanded="false"> <span>
									<i class="ti ti-article"></i>
								</span> <span class="hide-menu ">Sản Phẩm</span>
							</a></li>
						<li class="sidebar-item"><a class="sidebar-link" th:href="@{/admin/category}"
								aria-expanded="false"> <span>
									<i class="ti ti-article"></i>
								</span> <span class="hide-menu">Danh mục</span>
							</a></li>
						<li th:if="${#authorization.expression('hasRole(''ADMIN'')')}" class="sidebar-item"><a
								class="sidebar-link" th:href="@{/admin/accounts}" aria-expanded="false"> <span>
									<i class="ti ti-user"></i>
								</span> <span class="hide-menu">Tài Khoản</span>
							</a></li>
						<li th:if="${#authorization.expression('hasRole(''ADMIN'')')}" class="sidebar-item"><a
								class="sidebar-link" th:href="@{/admin/revenue-chart}" aria-expanded="false"> <span>
									<i class="ti ti-cards"></i>
								</span> <span class="hide-menu">Doanh Thu</span>
							</a></li>
						<li class="sidebar-item"><a class="sidebar-link" th:href="@{/admin/feedback}"
								aria-expanded="false"> <span>
									<i class="ti ti-file-description"></i>
								</span> <span class="hide-menu">Phản hồi</span>
							</a></li>
						<li class="sidebar-item"><a class="sidebar-link" th:href="@{/admin/orders}"
								aria-expanded="false"> <span>
									<i class="ti ti-shopping-cart"></i>
								</span> <span class="hide-menu">Đơn Hàng</span>
							</a></li>


						<li class="sidebar-item"><a class="sidebar-link" th:href="@{/admin/vouchers}"
								aria-expanded="false"> <span>
									<i class="ti ti-ticket"></i>
								</span> <span class="hide-menu">Mã giảm giá</span>
							</a></li>
						<li th:if="${#authorization.expression('hasRole(''ADMIN'')')}" class="sidebar-item">
							<a class="sidebar-link" th:href="@{/admin/history}" aria-expanded="false">
								<span>
									<i class="ti ti-typography"></i>
								</span>
								<span class="hide-menu">Lịch sử nhập hàng</span>
							</a>
						</li>
					</ul>

				</nav>
				<!-- End Sidebar navigation -->
			</div>
			<!-- End Sidebar scroll-->
		</aside>
		<!--  Sidebar End -->
		<!--  Main wrapper -->
		<div class="body-wrapper">
			<!--  Header Start -->
			<!-- <header class="app-header">
				<nav class="navbar navbar-expand-lg navbar-light">
					<ul class="navbar-nav">
						<li class="nav-item d-block d-xl-none"><a class="nav-link sidebartoggler nav-icon-hover"
								id="headerCollapse" href="javascript:void(0)"> <i class="ti ti-menu-2"></i>
							</a></li>
						<li class="nav-item"><a class="nav-link nav-icon-hover" href="javascript:void(0)"> <i
									class="ti ti-bell-ringing"></i>
								<div class="notification bg-primary rounded-circle"></div>
							</a></li>
					</ul>
					<div class="navbar-collapse justify-content-end px-0" id="navbarNav">
						<ul class="navbar-nav flex-row ms-auto align-items-center justify-content-end">
							<li class="nav-item dropdown">
								<a class="nav-link nav-icon-hover" href="javascript:void(0)" id="drop2"
									data-bs-toggle="dropdown" aria-expanded="false">
									<img src="../assets/images/profile/user-1.jpg" alt="" width="35" height="35"
										class="rounded-circle">
								</a>
								<div class="dropdown-menu dropdown-menu-end dropdown-menu-animate-up"
									aria-labelledby="drop2">
									<div class="message-body">
										<a href="../security/login.html"
											class="btn btn-outline-primary mx-3 mt-2 d-block">Logout</a>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</nav>
			</header> -->
			<!--  Header End -->
			<div class="container-fluid ">
				<div id="notification" th:if="${confirmationMessage != null}"
					class="alert alert-success flex justify-center items-center">
					<p class="text-center" th:text="${confirmationMessage}"></p>
				</div>

				<div id="notification" th:if="${errorMessage != null}"
					class="alert alert-danger flex justify-center items-center">
					<p class="text-center" th:text="${errorMessage}"></p>
				</div>

				<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

				<!-- Script để hiển thị và ẩn thông báo -->
				<script>
					// Hiển thị thông báo khi trang được tải
					$(document).ready(function () {
						showNotification();
					});

					// Hiển thị thông báo và tự động ẩn sau 2 giây
					function showNotification() {
						$('#notification').fadeIn().delay(2000).fadeOut();
					}
				</script>
				<div class="container-fluid">
					<div class="card">
						<div class="card-body overflow-x-auto">



							<h5 class="card-title fw-semibold mb-4 d-flex align-items-center ">Danh mục
								<button type="button" class="btn btn-primary mx-5 fs-2 " data-bs-toggle="modal"
									data-bs-target="#exampleModal3" data-bs-whatever="@mdo">Thêm danh mục</button>
								<!-- <form class="d-flex" th:action="@{/admin/products/searchName}" method="get">
									<input class="form-control me-2" type="text" name="name"
										placeholder="Tìm kiếm tên sản phẩm" required>
									<button class="btn btn-outline-warning" type="submit">Search</button>
								</form> -->
								<!-- <form style="font-size: larger; " class="d-flex justify-content-end  flex-grow-1  fs-6 "
									th:action="@{/admin/products}" method="get">
									
									<button class="border-0 bg-transparent" type="submit">
										<ion-icon style="font-size: 2rem; " name="reload-outline"></ion-icon>
									</button>
								</form> -->
							</h5>

							<div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel"
								aria-hidden="true">
								<div class="modal-dialog modal-dialog-centered modal-lg">
									<div class="modal-content">
										<div class="modal-header bg-warning text-white">
											<h5 class="modal-title" id="exampleModalLabel">Thêm danh mục</h5>
											<button type="button" class="btn-close" data-bs-dismiss="modal"
												aria-label="Close"></button>
										</div>
										<div class="modal-body">
											<form class="row g-3" th:action="@{/admin/category/addCategory}"
												method="post" enctype="multipart/form-data">
												<div class="col-md-12">
													<label for="name" class="form-label">Tên danh mục</label>
													<input type="text" class="form-control" id="name" name="name"
														required>
												</div>
												<div class="col-12 mt-3 text-center">
													<button type="submit" class="btn btn-success text-white">Thêm danh
														mục</button>
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>





						</div>

						<table class="table table-striped ">
							<thead>
								<tr>
									<th class="text-center" scope="col">Tên Danh mục</th>
									<th class="text-center" scope="col">Hành động</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="category : ${categories}">
									<td th:text="${category.name}"></td>
									<td>
										<div class="d-flex justify-content-center align-items-center">
											<!-- Nút Sửa -->
											<button type="button" class="btn btn-warning mx-2 " data-bs-toggle="modal"
												th:data-bs-target="'#exampleModal4-' + ${category.categoryId}">
												Chỉnh Sửa
											</button>
											<form
												th:action="@{'/admin/category/deleteCategory/' + ${category.categoryId}}"
												method="post" class="m-0">
												<button type="submit" class="btn btn-danger mx-2">Xóa</button>
											</form>
											<!-- Modal -->
											<div class="modal fade" th:id="'exampleModal4-' + ${category.categoryId}"
												tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
												<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
													<div class="modal-content">
														<div class="modal-header bg-warning text-white">
															<h5 class="modal-title" id="exampleModalLabel">CHỈNH SỬA
															</h5>
															<button type="button" class="btn-close"
																data-bs-dismiss="modal" aria-label="Close"></button>
														</div>

														<div class="modal-body 	">
															<form
																th:action="@{'/admin/category/edit/' + ${category.categoryId}}"
																method="post" enctype="multipart/form-data"
																class="row g-3">
																<div class="col-md-12">
																	<input type="hidden" id="categoryId"
																		name="categoryId"
																		th:value="${category.categoryId}">
																	<label for="name" class="form-label">Tên danh
																		mục</label>
																	<input id="name" name="name" class="form-control"
																		style="font-size: 13px;" type="text"
																		th:value="${category.name}" required>
																</div>

																<div class="col-12 mt-3 text-center">
																	<button type="submit"
																		class="btn btn-success text-white">Cập
																		nhật</button>
																</div>
															</form>
														</div>
													</div>
												</div>
											</div>


											<!-- Nút Xóa -->

										</div>
									</td>
								</tr>
							</tbody>


						</table>



					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
		integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
		integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
		crossorigin="anonymous"></script>
	<script src="../assets/libs/jquery/dist/jquery.min.js"></script>
	<script src="../assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="../assets/js/sidebarmenu.js"></script>
	<script src="../assets/js/app.min.js"></script>
	<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
	<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
	<script src="../assets/libs/simplebar/dist/simplebar.js"></script>
</body>

</html>