<footer class="bg-white w-full bg-black mt-10 " th:fragment="footer">
  <div class="w-full bg-black">
    <section class="flex flex-col lg:flex-row w-[90%] justify-between md:w-[80%] mx-auto p-10 bg-black text-white">
      <aside>
        <img class="mb-5 w-[15%]" src="/assets/images/logos/Logo1.png" alt="">
        <p>MARIOUS COPORATION.<br />357a Đ. Nguyễn Ảnh Thủ, Trung Mỹ Tây, Quận 12, Thành phố Hồ Chí Minh <br> 0916215180</p>
      </aside>
        
      <nav class="flex flex-col">
        <header class="footer-title">Công Ty</header>
        <a class="link link-hover">Giới Thiệu</a>
        <a class="link link-hover">Liên Hệ</a>
        <a class="link link-hover">Tuyển Dụng</a>
       
      </nav>
      <nav class="flex flex-col">
        <header class="footer-title">Chính Sách</header>
        <a class="link link-hover">Chính Sách Đổi Trả</a>
        <a class="link link-hover">Chính Sách Giao Hàng</a>
        <a class="link link-hover">Chính Sách Bảo Mật Thông Tin</a>
      </nav>
    </section>
    <section class=" border-t-2 border-white w-[80%] mx-auto text-center py-1 bg-black text-white">
      <aside class="text-center text-xs">
        <p class="text-center">Copyright © 2023 - Design by Marious - Huynh Tan Phat</p>
      </aside>
    </section>
    <div class="fb-customerchat" page_id="282791425847994"></div>

  </div>
  
  <!--  -->
  <script>
		window.fbAsyncInit = function() {
			FB.init({
				appId : "1763021527548898",
				xfbml : true,
				version : "v2.6"
			});
		};
		(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) {
				return;
			}
			js = d.createElement(s);
			js.id = id;
			js.src = "//connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	</script>
  <!--  -->
</footer>
