<nav class="w-full bg-black" th:fragment="navigation">
    <div class="w-[90%] md:w-[80%] mx-auto hidden lg:block">
        <div class="w-full flex justify-between text-xs font-light text-white items-center py-2">
            <div class="flex gap-x-1">
                <ion-icon class="text-sm" name="call-outline"></ion-icon>
                <p>Đường Dây Nóng: </p>
                <p>0916215180</p>
            </div>
            <div class="">
                <p>Theo dõi chúng tôi để có những khuyễn mãi cực hấp dẫn</p>
            </div>
            <div class="flex gap-x-2">
                <ion-icon class="text-sm" name="earth-outline"></ion-icon>
                <p>Ngôn Ngữ: </p>
                <select name="" id="" class="bg-black text-white outline-none">
                    <option value="none">-- --</option>
                    <option value="VN">VN</option>
                    <option value="US">US</option>
                    <option value="UK">UK</option>
                </select>
            </div>
        </div>
    </div>
</nav>