<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/components/layout :: areas(~{::title},~{::body})}" >

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Details</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .card {
            border: 1px solid #ddd;
            border-radius: 8px;
        }

        .card-body {
            padding: 1.25rem;
        }

        .card-title {
            margin-bottom: 0.75rem;
        }

        .card-text span {
            font-weight: bold;
        }

        .card-img {
            width: 100px;
            height: 100px;
            object-fit: cover;
        }

        .review-form {
            display: none;
        }
    </style>
</head>

<body class="bg-white min-h-screen">

    <section class="w-[90%] md:w-[80%] xl:w-[80%] mx-auto text-xs text-black font-light  py-24">
        <div class="w-full flex flex-col lg:flex-row gap-y-5 gap-x-5">
            <section class="flex flex-row lg:flex-col gap-x-5 gap-y-5 w-full lg:w-[40%] text-sm">
                <div class="border border-orange-300 rounded-lg flex flex-col justify-center items-center py-3 gap-y-3 px-5">
                    
                    <div class="avatar">
                        <div class="w-24 rounded-full">
                          <img th:src="@{'/assets/images/' + ${user.photo}}" />
                        </div>
                    </div>
                  
                    <div class="flex flex-col gap-y-5">
                        <p th:text="${user.fullName}"></p>
                    </div>
                  
                </div>
                <div class=" flex flex-col h-[40%] items-end  lg:flex-col justify-between lg:justify-start rounded-lg gap-y-2 flex-1 gap-x-5">
                    <div class="flex items-center gap-x-2 border border-orange-300 rounded-lg px-5 py-2 w-full group hover:bg-orange-300 duration-300 hover:duration-300">
                        <ion-icon class="text-xl group-hover:text-white" name="people-outline"></ion-icon>
                        <a th:href="@{/profile}" class="group-hover:text-white">Thông Tin Cá Nhân</a>
                    </div>
                    <div class="flex items-center gap-x-2 border border-orange-300 rounded-lg px-5 py-2 w-full group hover:bg-orange-300 duration-300 hover:duration-300">
                        <ion-icon class="text-lg group-hover:text-white" name="car-outline"></ion-icon>
                        <a th:href="@{/orders}" class="group-hover:text-white">Đơn hàng đã đặt</a>
                    </div>

                    <div class="flex items-center gap-x-2 border border-orange-300 rounded-lg px-5 py-2 w-full group hover:bg-orange-300 duration-300 hover:duration-300">
                        <ion-icon class="text-lg group-hover:text-white" name="car-outline"></ion-icon>
                        <a th:href="@{/vouchers/voucher-stock}" class="group-hover:text-white">Kho voucher</a>
                    </div>
                    
                </div>
            </section>
            <section class="w-full lg:w-[60%]">
                
                <div th:each="detail : ${order.orderDetails}" class="border border-orange-300 flex justify-between  rounded-lg py-5 mt-5 px-5 text-sm">
                    <div class="text-xl font-medium text-black flex flex-col gap-y-4  ">
                        <div class="flex-col flex">
                        <img th:src="'/assets/images/products/' + ${detail.product.image}" class="w-[100px] h-[75px]" alt="">
                    </div>
                    <div class="flex-col flex">
                        <p th:text="${detail.product.name}"></p>
                    
                        <p th:text="${detail.quantity}" class="text-[17px] font-light"></p>
                        <p th:text="${#numbers.formatDecimal(detail.price, 0, 'COMMA', 0, 'POINT')} + ' VND'" class="text-[17px] font-light"></p>
                        <p th:text="${#numbers.formatDecimal(detail.price * detail.quantity, 0, 'COMMA', 0, 'POINT')} + ' VND'" class="text-[17px] font-light"></p>
                        
                        <button
                            th:if="${detail.customerFeedback != null and (detail.customerFeedback.status == 'Đã đánh giá' or detail.customerFeedback.status == 'Đã trả lời')}"
                            type="button" class="btn btn-primary mt-2">Đã đánh giá</button>

                        <button
                            th:unless="${detail.customerFeedback != null and (detail.customerFeedback.status == 'Đã đánh giá' or detail.customerFeedback.status == 'Đã trả lời')}"
                            th:if="${order.status == 'Đã giao hàng thành công'}" type="button"
                            class="btn btn-primary mt-2" onclick="toggleReviewForm(this)">Đánh giá</button>


                        <form th:action="@{'/feedbacks/submitReview'}" method="post" class="review-form hidden">
                            <input type="hidden" th:name="productId" th:value="${detail.product.productId}">
                            <input type="hidden" th:name="orderId" th:value="${order.orderId}">
                            <input type="hidden" th:name="orderDetailId" th:value="${detail.orderDetailId}">
                            <input type="hidden" th:name="userId" th:value="${order.user.userId}">
                            <input type="text" name="content" placeholder="Nhận xét của bạn">
                            <button type="submit" class="btn btn-primary mt-2">Gửi đánh giá</button>
                        </form>
                    </div>
                </div>
                    
                  
                </div> 
                
                 
            </section>
        </div>
    </section>


   

     <!-- <div class="container">
        <h1 class="text-center mb-4">Order Details</h1>
        <div class="card mb-4">
            <div class="card-body">
                <p>Order Date: <span th:text="${order.orderDate}"></span></p>
                <p>Total Price: <span th:text="${order.totalPrice}"></span></p>
                <p>Status: <span th:text="${order.status}"></span></p>
                <p th:if="${order.voucher}">Mã giảm giá đã sử dụng: <span
                        th:text="${order.voucher.voucherCode} + ' - ' + 'Giảm' + ${order.voucher.discountAmount} + 'K' "></span>
                </p>

            </div>
        </div>
        <h2 class="mt-4">Order Items</h2>
        <div class="row">
            <div th:each="detail : ${order.orderDetails}" class="col-md-4">
                <div class="card mb-3">
                    <div class="card-body">
                        <img th:src="@{'/assets/images/' + ${detail.product.image}}" alt="Product Image"
                            class="img-fluid card-img mb-3">
                        <h5 class="card-title" th:text="${detail.product.name}"></h5>
                        <p class="card-text">Quantity: <span th:text="${detail.quantity}"></span></p>
                        <p class="card-text">Price: <span th:text="${detail.price} + 'K'"></span></p>
                        <p class="card-text">Total Price: <span
                                th:text="${detail.price * detail.quantity} + 'K'"></span></p>
                        <button
                            th:if="${detail.customerFeedback != null and (detail.customerFeedback.status == 'Đã đánh giá' or detail.customerFeedback.status == 'Đã trả lời')}"
                            type="button" class="btn btn-primary mt-2">Đã đánh giá</button>

                        <button
                            th:unless="${detail.customerFeedback != null and (detail.customerFeedback.status == 'Đã đánh giá' or detail.customerFeedback.status == 'Đã trả lời')}"
                            th:if="${order.status == 'Đã giao hàng thành công'}" type="button"
                            class="btn btn-primary mt-2" onclick="toggleReviewForm(this)">Đánh giá</button>


                        <form th:action="@{'/feedbacks/submitReview'}" method="post" class="review-form">
                            <input type="hidden" th:name="productId" th:value="${detail.product.productId}">
                            <input type="hidden" th:name="orderId" th:value="${order.orderId}">
                            <input type="hidden" th:name="orderDetailId" th:value="${detail.orderDetailId}">
                            <input type="hidden" th:name="userId" th:value="${order.user.userId}">
                            <input type="text" name="content" placeholder="Nhận xét của bạn">
                            <button type="submit" class="btn btn-primary mt-2">Gửi đánh giá</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
 
    <script>
        function toggleReviewForm(btn) {
            var form = btn.nextElementSibling;
            form.style.display = (form.style.display === "none" || form.style.display === "") ? "block" : "none";
        }
    </script> 
</body>

</html>